body {
    background: grey;
}
header {
    border-bottom: 1px solid #eee;
}
main {
    border: 1px solid #eee;
    margin: 1rem;
    padding: 1rem;
    text-align: center;    
}
h1, h2, h3, h4, a {
    font-family: 'Playfair Display', serif;
}
p {
    font-family: 'Raleway', sans-serif; 
}
footer {
    text-align: center;
}










/* FONTER
font-family: 'Raleway', sans-serif;
font-family: 'Playfair Display', serif;*/