body {
    background-color: #f4f4f4;
    display: grid;
    margin: 1rem;
}
h1,h2,h3,h4 {
    font-family: 'Roboto', sans-serif;
}
p, a, li {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.9);
}
header h1{
    display: inline-block;
    color: rgba(0, 0, 0, 0.9);
}
main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "sidebar main";
    border-bottom: 1px solid #eee;
    padding-bottom: 2rem;
}
section {
    grid-area: main;
    background: #D5D5D5;
    border: 1px solid #eee;
}
main .hovedside {
    padding: 1rem;
    text-align: center;
    border: 1px solid #eee;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.9);
}
.navheader {
    display: none;
}
nav {
    grid-area: sidebar;
}
nav a {
    text-decoration: none;
    letter-spacing: 0.1rem;
    color: #f4f4f4;
    font-size: 0.8rem;
}
a:hover {
    text-decoration: underline;
}
.aktiv {
    font-style: italic;
}
.artikkelmal {
    line-height: 1.5rem;
    padding: 0.5rem;
}
.artikkelmal li, a {
    color: #5E4654;
}
.artikkelmal p img{
    max-width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
main nav article {
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #eee;
    position: sticky;
    top: 0;
}
footer {
    text-align: center;
}
footer p {
    padding: 1rem;
    color: #f4f4f4;
}
label {
    display: none;
    cursor: pointer;
    float: right;
    font-size: 1.5rem;
    margin-top: 1rem;
}
#meny {
    display: none;
}
/*Farger*/

.dusty {
    background: #96858F;
}

.lavendar {
    background: #6D7993;
}

.overcast {
    background: #9099A2;
}
.farge1 {
    background: #5E4654;
}
/* MEDIA QUERIES */

@media screen and (max-width: 650px) {
    main {
        display: flex;
        flex-direction: column;
    }
    label {
        display: block;
        cursor: pointer;
    }
    nav {
        display: none;
        text-align: center;
        width: 100%;
    }
    nav a {
        display: block;
        color: black;
        padding: 1rem;
        border-bottom: 1px solid #eee;
        margin: 0;
    }
    #meny:checked + nav {
    display: block;
}
}

