body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "header"
        "nav"
        "main"
        "footer"  
}
h1, h2, h3, h4, a {
    font-family: 'Merriweather', serif;
}
p, li {
    font-family: 'Slabo 27px', serif;
    color: rgba(0,0,0,.75);
    line-height: 1.3em;
}
header {
    grid-area: header;
    text-align: center;
    border-bottom: 1px solid #eee;
}
.headerBilde {
    background-image: url(bilder/spiration%20dark.png);
    background-size: auto;
    height: 100px;
}
.headertekst {
    padding-top: 10px;
    font-size: 4.5rem;
    margin: 0;
    letter-spacing: 0.1em;
}
label {
    display: none;
}
#mobilmeny {
    display: none;
}
/* farger overskrift */ 
.bla{color: rgb(70, 136, 241);}
.rod{color: rgb(232, 69, 60);}
.gul{color: rgb(250, 187, 45);}

nav {
    grid-area: nav;
    margin: 20px;
}
nav > a {
    color: black;
    padding: 1rem;
    font-size: 0.75rem;
}
nav > a:hover {
    border-bottom: 3px solid rgb(250, 187, 45);
}
nav > a:visited {
    color: black;
    text-decoration: none;
}
.aktiv {
    border-bottom: 3px solid rgb(232, 69, 60);
}
.forside {
    margin-top: 20px;
    margin-bottom: 20px;
    grid-area: main;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "hoved side"
}
.hovedkolonne {
    grid-area: hoved;
    display: flex;
    flex-flow: column;
    /* Her blir artiklene liggende under hverandre */
}
.artikler {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px;
    margin-bottom: 30px;
}
.artikler picture img {
    max-width: 100%;
}
.artikler:hover {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .05);
}
.artikkeltekst{
    padding-left: 30px;
    padding-bottom: 30px;
}
/* Artikkelsider */
.artikkelmal{
    padding: 60px;
    line-height: 1.2em;
    border: 1px solid #eee;
    margin-bottom: 20px;
}
.artikkelmal h1 {
    font-size: 1.9rem;
}
.artikkelmal h3 {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.7);
}
.artikkelmal p {
    font-size: 1.1rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.artikkelmal picture img {
    max-width: 80%;
}
.viktigtekst {
    border-left: 5px solid rgb(70, 136, 241);
    display: inline-block;
    background: #eee;
    padding: 1rem;
    font-family: 'Merriweather', serif;
}
.artikkelmal .viktigtekst {
    font-size: 0.9rem;
}
.artikkelmal a {
    font-size: 0.9rem;
}
/* Artikkelsider slutt */
aside {
    grid-area: side;
    border-left: 3px solid rgb(232, 69, 60);
    padding-left: 10px;
}
aside > section {
    margin-bottom: 70px;
}
footer {
    grid-area: footer;
    height: 50px;
    text-align: center;
}
footer a {
    font-size: 0.9rem;
    text-decoration: underline;
}
/* Linker */
a {
    text-decoration: none;
}

.knappLesMer {
    border: 1px solid rgb(232, 69, 60);
    padding: 10px;
    color: rgb(232, 69, 60);
    font-size: 0.9em;
}
.knappLesMer:hover {
    background: rgb(232, 69, 60);
    color: white;
}

main {
    border-bottom: 1px solid #eee;    
}
code {
    background: #eee;
    color: rgb(232, 69, 60);
    font-size: 1.1em;
    /*margin: 1.5rem;*/
    padding: 10px;
    border-left: 3px solid rgb(250, 187, 45);
}

/* fonter 
font-family: 'Slabo 27px', serif;
font-family: 'Merriweather', serif;*/

/* MEDIA QUERIES */

@media screen and (max-width: 850px) {
    section > h1 {
        margin: 20px;
    }
    .artikkeltekst {
        padding-left: 20px;
    }
    nav {
        display: flex;
        flex-direction: row;
        margin: 0;
    }
    nav > a{
        display: block;
        text-align: center;
        /*margin: 10px;*/
        flex: 1;
        border-right: 1px solid #eee;
    }
    body {
        margin: 0;
    }
    .forside {
        display: flex;
        flex-direction: column;
    }
    aside {
        background: #eee;
        order: 1;
        margin: 0;
        text-align: center;
        padding: 0;
    }
    iframe {
        width: 80%;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    ul > li > a {
        display: block;
        background-color: #333;
        padding: 25px;
        text-decoration: none;
        margin: 0;
        color: white;
        border-bottom: 1px solid white;
    }
}

@media screen and (max-width: 600px) {
    label {
        display: block;
        cursor: pointer;
        float: right;
        margin: 1rem;
        font-size: 1.3rem;
    }
    nav {
        text-align: center;
        width: 100%;
        display: none;
    }
    nav a {
        display: block;
        border-bottom: 1px solid #eee;
        margin: 0;
    }
    #mobilmeny:checked + nav {
        display: inline-block;
    }
    .aktiv {
        border-top: 2px solid rgb(232, 69, 60);
        border-bottom: 2px solid rgb(232, 69, 60);
    }
    .artikkeltekst {
        padding-left: 0;
    }
    .forside {
        display: flex;
        flex-direction: column;
    }
    aside {
        padding: 0;
    }
    .artikler {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0;
    }    
    .artikkelmal {
        padding: 20px;
    }
    .artikkelmal picture img {
    max-width: 100%;
}
}



button {
    padding: 1.2rem;
    border-radius: 0.2rem;
    background: rgb(70, 136, 241);
    color: white;
    font-family: 'Merriweather', serif;
    font-size: 1rem;
    cursor: pointer;
}
