body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "header"
        "nav"
        "main"
        "footer"  
}
h1, h2, h3, a {
    font-family: 'Merriweather', serif;
}
p {
    font-family: 'Slabo 27px', serif;
    color: rgba(0,0,0,.75);
    line-height: 1.3em;
}
header {
    grid-area: header;
    text-align: center;
    border-bottom: 1px solid #eee;
}
.headerBilde {
    background-image: url(bilder/spiration%20dark.png);
    background-size: auto;
    height: 100px;
}
.forsidetekst {
    padding-top: 10px;
    font-size: 4.5rem;
    margin: 0;
    letter-spacing: 0.1em;
}

/* farger overskrift */ 
.bla{color: rgb(70, 136, 241);}
.rod{color: rgb(232, 69, 60);}
.gul{color: rgb(250, 187, 45);}

nav {
    grid-area: nav;
    margin: 20px;
}
nav > a {
    color: black;
    padding: 15px;
    font-size: 0.8em;
}
nav > a:hover {
    text-decoration: underline;
}
nav > a:focus {
    text-decoration: underline;
    border-bottom: 3px solid rgb(232, 69, 60);
}
nav > a:visited {
    color: black;
    text-decoration: none;
}
.forside {
    margin-top: 20px;
    margin-bottom: 20px;
    grid-area: main;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "hoved side"
}
.hovedkolonne {
    grid-area: hoved;
    display: flex;
    flex-flow: column;
    /* Her blir artiklene liggende under hverandre */
}
.artikler {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px;
    margin-bottom: 30px;
}
.artikler:hover {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .05);
}
.artikkeltekst{
    padding-left: 30px;
    padding-bottom: 30px;
}
.artikkelmal{
    width: 800px;
    margin: auto;
    border-bottom: 2px solid #eee;
    padding: 20px;
    line-height: 1.3em;
}
.artikkelmal > h2 {
    border: 1px solid black;
}
.artikkelmal > p{
    padding-left: 20%;
    line-height: 1.5em;
    font-size: 1.2em;
}
.bildeArtikkel {
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
}
aside {
    grid-area: side;
    border-left: 3px solid rgb(232, 69, 60);
    padding-left: 10px;
}
aside > section {
    margin-bottom: 70px;
}
footer {
    grid-area: footer;
    height: 50px;
    text-align: center;
}
/* Linker */
a {
    text-decoration: none;
}
a:visited{}
a:hover{}
a:active{}

.knappLesMer {
    border: 1px solid rgb(232, 69, 60);
    padding: 10px;
    color: rgb(232, 69, 60);
    font-size: 0.9em;
}
.knappLesMer:hover {
    background: rgb(232, 69, 60);
    color: white;
}

main {
    border-bottom: 1px solid #eee;
}
font-family: 'Slabo 27px', serif;
font-family: 'Merriweather', serif;